spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  threads:
    virtual:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true

  application:
    security:
      jwt:
        secret-key: ${JWT_SECRET_KEY}
        expiration: ${JWT_EXPIRATION}
  ai:
    ollama:
      base-url: http://localhost:11434
    chat:
      model: qwen3:1.7b
      options:
        max-tokens: 2000
        temperature: 0.7
        stop: [ "END", "\n\n\n" ]
        frequency-penalty: 0.5
        presence-penalty: 0.3

server:
  servlet:
    context-path: /api/v1/
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true
springdoc:
  swagger-ui:
    csrf:
      enabled: true
whatsapp:
  api:
    key: ${WHATSAPP_API_KEY}
    secret: ${WHATSAPP_API_SECRET}
    url: ${WHATSAPP_API_URL}
  from:
    number: ${WHATSAPP_FROM_NUMBER}
google:
  drive:
    application-name: "Lawyer Application"
    credentials-path: ${GOOGLE_DRIVE_CREDENTIALS_PATH}
    max-results: 50


logging:
  level:
    web: debug

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
